.container {
    display: flex;
    background-color: #a18080;
    height: 100vh;
}

.side-bar {
    flex: 1;
    border: 1px solid red;
    background-color: #c0bbbb;
}

.main-container {
    flex: 5;
    border: 1px solid red;
    background-color: #6dca61;
}











